@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(../components/animate-css/animate.min.css);
@import url(../components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css);
/*@import url(../components/bootstrap-toggle/css/bootstrap-toggle.min.css);*/


@import "../components/bootstrap/less/bootstrap.less";
@import "cosmo.variables.less";
@import "cosmo.less";


/* Custom Variables */

@screen-lg: 1600px;
@grid-float-breakpoint: @screen-sm-min;
@icon-font-path: '../components/bootstrap/fonts/';


/* Custom Styles */

.vcenter {
	min-height: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
}

.navmenu {
	border-radius: 0;
}

.navmenu-default {
	background: #f5f5f5;
	border-color: #ddd;
}

body {
	padding-bottom: 20px;
}

@media (min-width: 0px) {
	#canvastoggle {
		float: left;
		display: block;
	}

}

@media (max-width: 991px) {
	#myNavmenu {
		width: 200px;
		left: 0;
		right: auto;
		border-width: 0 1px 0 0;
		position: fixed;
		z-index: 1030;
		top: 0;
		bottom: 0;
		overflow-y: auto;
		border-radius: 0;
	}

}

@media (min-width: 992px) {
	#myNavmenu {
		width: auto;
	}
}

// div.graphs {
// 	height: 400px;
// }
div.graphs img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}


.toggle .toggle-handle.btn-default {
	background: #fff;
	border-color: #ccc;
	
}

.toggle label.btn-default.active {
	background: #e6e6e6;
	border-color: #adadad;
	color: #333;
}

.toggle btn-default {
	background: #e6e6e6;
}


.main-alert {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
}

.main-alert.ng-leave {
	transition:0.2s ease-in all;
	opacity:1;
}
.main-alert.ng-leave.ng-leave-active {
  opacity: 0;
}
.main-alert.ng-enter {
  transition:0.2s ease-out all;
  opacity:0;
}

/* The starting CSS styles for the enter animation */
.main-alert.ng-enter.ng-enter-active {
  opacity:1;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
	    outline: none;
	}
