<ion-modal-view class="modal">
	<ion-header-bar>
		<h3 class="title">Image</h3>
		<div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<ion-scroll zooming="true" direction="xy" style="width: 100%;">
			<img src="img/c5.png">
		</ion-scroll>
	</ion-content>
</ion-modal-view>
<style>
	.modal .scroll {
		height: 100%;
	}
</style>
