<ion-nav-bar class="bar-positive" on-touch="clearLocalStorage()" on-release="cancelTimeout()">
	<ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view name="content"></ion-nav-view>
