<ion-view view-title="{{protocol.title}}">
	<ion-content class="padding">
		<div ng-repeat="object in protocol.content" class="protocol">
			<p ng-if="object.type == 'paragraph'" ng-bind-html="object.content"></p>
			<h3 class="padding-top" ng-if="object.type == 'heading'" ng-bind-html="object.content"></h3>
			<h4 class="padding-top" ng-if="object.type == 'subheading'" ng-bind-html="object.content"></h4>
			<img class="padding-top" ng-if="object.type == 'img'" ng-src="{{object.src}}" style="width: 100%;">
			<div ng-if="object.type == 'med'">
				<h4 ng-bind-html="object.name"></h4>
				<dl>
					<div ng-if="object.description">
						<dt>Description</dt>
						<dd>{{object.description}}</dd>
					</div>
					<dt>Class</dt>
					<dd ng-bind-html="object.class"></dd>
					<dt>Actions</dt>
					<dd ng-bind-html="object.actions"></dd>
					<dt>Indications</dt>
					<dd ng-bind-html="object.indications"></dd>
					<dt>Contraindications</dt>
					<dd ng-bind-html="object.contraindications"></dd>
					<div ng-if="object.precautions">
						<dt>Precautions</dt>
						<dd ng-bind-html="object.precautions"></dd>
					</div>
					<dt>Side Effects</dt>
					<dd ng-bind-html="object.side_effects"></dd>
					<div ng-if="object.dosage">
						<dt>Dosage</dt>
						<dd ng-bind-html="object.dosage"></dd>
					</div>
					<div ng-if="object.organophosphate_poisoning_adult">
						<dt>Organophosphate poisoning Adult</dt>
						<dd ng-bind-html="object.organophosphate_poisoning_adult"></dd>
					</div>
					<div ng-if="object.organophosphate_poisoning_less_than_2">
						<dt>Organophosphate poisoning Less than 2 y/o</dt>
						<dd ng-bind-html="object.organophosphate_poisoning_less_than_2"></dd>
					</div>
					<div ng-if="object.organophosphate_poisoning_2_10">
						<dt>Organophosphate poisoning 2-10 y/o</dt>
						<dd ng-bind-html="object.organophosphate_poisoning_2_10"></dd>
					</div>
					<dt>Routes</dt>
					<dd ng-bind-html="object.routes"></dd>
					<div ng-if="object.pediatric_dosage">
						<dt>Pediatric Dose</dt>
						<dd ng-bind-html="object.pediatric_dosage"></dd>
					</div>
				</dl>
				<hr>
			</div>
			<ol class="level-one" ng-if="object.type == 'list'" start="{{object.start || 1}}">
				<li ng-else ng-repeat="item in object.content">
					<span ng-bind-html="item.text"></span>
					<ol class=" level-two" ng-if="item.type == 'list'">
						<li ng-repeat="subitem in item.content" >
							<span ng-bind-html="subitem.text"></span>
							<ol class="level-three" ng-if="subitem.type == 'list'">
								<li ng-repeat="subsubitem in subitem.content">
									<span ng-bind-html="subsubitem.text"></span>
									<ol class="level-four" ng-if="subsubitem.type == 'list'">
										<li ng-repeat="subsubsubitem in subsubitem.content" ng-bind-html="subsubsubitem"></li>
									</ol>
									<span ng-if="subsubitem.type != 'list'" ng-bind-html="subsubitem"></span>
								</li>
							</ol>
							<span ng-if="subitem.type != 'list'" ng-bind-html="subitem"></span>
						</li>
					</ol>
					<span ng-if="item.type != 'list'" ng-bind-html="item"></span>
				</li>
			</ol>
		</div>
<!-- <button ng-click="run()">asdf</button> -->
	</ion-content>
</ion-view>
<style>
	ol.level-one span {
		display: block;
	}
	ol.level-one {
		list-style-type: upper-alpha;
		padding-left: 20px;
	}
	ol.level-one > li {
		padding-left: 5px;
		padding-top: 10px;
	}

	ol.level-one > li:first-child {
		padding-top: 0;
	}

	ol.level-two {
		list-style-type: decimal;
		padding-left: 20px;
	}

	ol.level-two li {
		padding-left: 5px;
	}

	ol.level-three {
		list-style-type: lower-alpha;
		padding-left: 20px;
	}

	ol.level-three li {
		padding-left: 5px;
	}

	ol.level-four {
		list-style-type: lower-roman;
		padding-left: 20px;
	}

	ol.level-four li {
		padding-left: 5px;
	}

	div.protocol h3 {
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
	}

	em {
		font-style: italic;
	}
	dd {
		padding-left: 10px;
	}
	hr {
		margin-bottom: 15px;
	}
</style>
