<ion-view view-title="Yakima EMS Protocols">
	<ion-content style="padding-top: 10px;">
		<h3 style="text-align: center;">Yakima County Prehospital Care Protocols</h3>
		<p style="text-align: center;">Version 2013-1</p>
		<ion-list>
			<ion-item class="item-icon-right" ui-sref="app.protocol({page:'intro'})">Introduction<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.sub-menu({menu: 'general'})">General<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.sub-menu({menu: 'medical'})">Medical Emergencies<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.sub-menu({menu: 'respiratory'})">Respiratory Emergencies<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.sub-menu({menu: 'cardiac'})">Cardiac Emergencies<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.sub-menu({menu: 'trauma'})">Trauma Emergencies<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.sub-menu({menu: 'environmental'})">Environmental Emergencies<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.sub-menu({menu: 'pediatric'})">Pediatric Emergencies<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.sub-menu({menu: 'appendix-a'})">Appendix A - Airway<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.sub-menu({menu: 'appendix-b'})">Appendix B - IV Therapy<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.protocol({page: 'ac1'})">Appendix C – Pre Hospital Medication List<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.protocol({page: 'ad1'})">Appendix D – Trauma Triage Destination<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.protocol({page: 'ae1'})">Appendix E – Drug Reference<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.protocol({page: 'af1'})">Appendix F – Quick Guide #1<i class="icon ion-ios-arrow-right"></i></ion-item>
			<ion-item class="item-icon-right" ui-sref="app.protocol({page: 'ag1'})">Appendix G – Quick Guide #2<i class="icon ion-ios-arrow-right"></i></ion-item>
		</ion-list>
	</ion-content>
</ion-view>
