<ion-view view-title="{{menu.name}}">
	<ion-content>
		<ion-list>
			<ion-item class="item-icon-right" ng-repeat="item in menu.items" ui-sref="app.protocol({page: item.id})">{{item.name}}<i class="icon ion-ios-arrow-right"></i></ion-item>
		</ion-list>
	</ion-content>
</ion-view>
