<h1>Add / Modify User</h1>
<div class="row" ng-show="user_level == 9">
	<form class="form-horizontal col-sm-8 col-lg-4" ng-submit="submit()">
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputEmail3" placeholder="Username" ng-model="data.user">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail2" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputEmail2" placeholder="Name" ng-model="data.name">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="data.password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
</div>
