<h1>Dashboard</h1>
<p>You may use the following shorcuts below to navigate quickly, or you may find the same links at the top in the navigation bar.</p>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-lg-4" style="margin-bottom: 20px">
		<a class="btn btn-block btn-lg btn-success" ui-sref="hand_readings">Enter Hand Readings</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4" style="margin-bottom: 20px">
		<a class="btn btn-block btn-lg btn-warning" ui-sref="review">Review Irrigation Changes</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4" style="margin-bottom: 20px">
		<a class="btn btn-block btn-lg btn-info" ui-sref="irrigation">Enter Irrigation Data</a>
	</div>
</div>
