<h1>Hand Readings</h1>
<p>Use the following scales to enter your manual soil moisture readings using a scale of 1 to 10</p>
<div style="display:inline-block; min-height:290px; padding-bottom: 20px;" class="col-sm-10 col-sm-offset-2">
	<datepicker ng-model="dt" min-date="minDate" max-date="max_date" show-weeks="false" class="" custom-class="getDayClass(date, mode)"></datepicker>
</div>
<form class="form-horizontal" ng-submit="submit()">
	<div class="form-group" ng-repeat="i in units">
		<label for="inputEmail3" class="col-sm-2 control-label">B{{i.block}} U{{i.unit}}</label>
		<div class="col-sm-10">
			<div class="btn-group">
				<label class="btn btn-primary" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]" ng-model="radioModel[i.id]" btn-radio="{{n}}" uncheckable>{{n}}</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-3">
			<button class="btn btn-default btn-block ">Save</button>
		</div>
	</div>
</form>
