<h1>Review Water</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Unit</th>
			<th style="text-align: center;" ng-repeat="date in dates">{{date.date | amDateFormat:'M/D'}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="i in units">
			<td>B{{i.block}} U{{i.unit}}</td>
			<td style="text-align: center;" ng-repeat="(key,date) in dates">
				<span class="glyphicon" ng-class="water[i.id][key] == 1 ? 'glyphicon-tint text-success' : 'glyphicon-remove text-danger'"></span>
			</td>
		</tr>
	</tbody>
</table>
<div class="row" ng-show="user_level > 2 && !approved.timestamp">
	<div class="col-xs-12">
		<button ng-disabled="approved.processing" class="btn btn-primary" ng-click="approve()">Approve Daily Water</button>
	</div>
</div>
<div class="row" ng-show="approved.timestamp">
	<div class="col-xs-12">
		<p style="font-weight: bold;">Approved by {{approved.user}} at {{approved.timestamp | amDateFormat:'h:mma'}}</p>
	</div>
</div>
