<div class="row" style="padding-bottom: 15px;">
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<h1>Unit {{unit.unit}} Block {{unit.block}} - {{unit.type | capitalize}}</h1>
	</div>
	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		<a ui-sref="unit({unit: prev_unit.url_name})" class="btn btn-block btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Prev</a>
	</div>
	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		<a ui-sref="unit({unit: next_unit.url_name})" class="btn btn-block btn-primary">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
	</div>
</div>
<div class="row">
	<!-- <div class="col-md-12 col-lg-6"> -->
	<!-- 	<div class="panel panel-default"> -->
	<!-- 		<div class="panel-heading"> -->
	<!-- 			<h3 class="panel-title">Panel title</h3> -->
	<!-- 		</div> -->
	<!-- 		<div class="panel-body"> -->
	<!-- 			<div fusioncharts class="graphs" type="zoomline" width="100%" height="100%" datasource="{{data2}}"><img src="img/loading.gif"></div> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!-- </div> -->
	<div class="col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Weather Forecast</h3>
			</div>
			<div class="panel-body">
				<highchart id="chart1" config="weatherChartConfig"></highchart>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Hand Readings</h3>
			</div>
			<div class="panel-body">
				<highchart id="chart2" config="handChartConfig"></highchart>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Irrigation Schedule</h3>
			</div>
			<div class="panel-body">
				<highchart id="chart3" config="irrigationChartConfig"></highchart>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title pull-left">Log</h3>
				<!--<button class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span></button>-->
				<div class="clearfix"></div>
			</div>
			<div class="panel-body" style="max-height: 150px; overflow: auto;">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<th>Date &amp; Time</th>
						<th>Message</th>
					</thead>
					<tbody>
						<tr class="{{log.type}}" ng-repeat="(key, log) in logs">
							<td class="col-xs-4 col-sm-2 col-lg-1">{{log.datetime | amDateFormat: 'M/D HH:mm'}}</td>
							<td class="col-xs-8 col-sm-10 col-lg-11">{{log.message}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4" style="padding-bottom: 15px;">
		<div class="row">
			<div ng-show="user_level > 0" ng-repeat="(key, date) in dates" class="col-xs-4">
				<a ng-disabled="date.processing" ng-click="updateUnit(key)" type="button" class="btn btn-block" ng-class="date.value == 1 ?'btn-success':'btn-danger'" ng-model="checkbox[key]" >
					<i class="glyphicon" ng-class="date.value == 1 ? 'glyphicon-tint' : 'glyphicon-remove'"></i>
					{{date.date | amDateFormat:'M/D'}}
				</a>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-4">
		<a ui-sref="unit({unit: prev_unit.url_name})" class="btn btn-block btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Prev</a>
	</div>
	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		<a ui-sref="unit({unit: next_unit.url_name})" class="btn btn-block btn-primary">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
	</div>
</div>
<!-- unit({unit:unit.url_name}) -->
<style>
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-ovekrflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
