<h1>Change Unit Order</h1>
<div class="row">
	<div class="col-sm-8 col-sm-push-4">
		<p>Use this to change the order of the units throughout the system.  It affects the order that you view units in all areas (side-navigation, review page, hand readings, etc).</p>
		<p>Drag and drop the units in to the order that you would like them to be in.  You need to make sure you <em>save your changes when you finish</em> or your changes will only be temporary. If you have any questions or troubles bring it up with Dean</p>
	</div>
	<div class="col-sm-4 col-sm-pull-8">
		<ol ui-sortable ng-model="items" class="sort_list">
			<li ng-repeat="item in items" class="">{{item.id}} - B{{item.block}} U{{item.unit}} - {{item.type}}</li>
		</ol>
		<button ng-click="update()" class="btn btn-primary">Save</button>
	</div>
</div>
<style>
	.sort_list li {
		border: 1px solid #ccc;
		margin-bottom: -1px;
		padding: 5px 10px;
	}
</style>
