<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Tatoes Monitoring</title>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<!-- <link href="/css/main.less" rel="stylesheet/less"> -->
	<link href="/css/main.css" rel="stylesheet">
	<!-- <script src="/components/less/dist/less.min.js"></script> -->
</head>
<body>
	<div ng-show="::false" style="position: absolute; width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0; background: #FFF; z-index: 1000;">
		<img src="/img/loading.gif" ng-show="::false" style="position: absolute; top: 50%; transform: translateY(-50%); left: 50%; transform: translateX(-50%); z-index: 2000;">
	</div>
	<alert ng-cloak class="alert-fixed-top main-alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
	<strong ng-if="alert.title">{{alert.title}}: </strong>	
		{{alert.msg}}
	</alert>
	<nav class="navbar navbar-default" ng-cloak>
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<button type="button" id="canvastoggle" class="navbar-toggle btn visible-sm visible-xs" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span style="font-family: 'Indie Flower', cursive; font-size: 30px;"><span style="color:#FF0039;">T</span><span style="color: #9954BB;">a</span><span style="color: #3FB618">t</span><span style="color: #FF0039;">o</span><span style="color: #FF7518;">e</span><span style="color: #2780E3;">s</span></span> <span class="hidden-xs hidden-sm">Moisture Monitoring</span></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li ui-sref-active="active"><a ui-sref="dashboard">Dashboard</a></li>
					<li ui-sref-active="active"><a ui-sref="review">Review Irrigation</a></li>
					<li ui-sref-active="active"><a ui-sref="irrigation">Irrigation</a></li>
					<li ui-sref-active="active"><a ui-sref="hand_readings">Hand Readings</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-cloak>{{user_name}}<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-show="user_level == 9"><a ui-sref="add_user">Add User</a></li>
							<!-- <li><a ui-sref="unit_order">Change Unit Order</a></li> -->
							<!-- <li><a href="#">Another action</a></li> -->
							<!-- <li><a href="#">Something else here</a></li> -->
							<li class="divider"></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid" style="position: relative;" ng-cloak>
		<div class="row">
			<div class="col-xs-0 col-md-3 col-lg-2">
				<nav id="myNavmenu" class="navmenu navmenu-default offcanvas-sm" ng-controller="navigationController">
					<a class="navmenu-brand"><h1>Units</h1></a>
					<ul class="nav navmenu-nav">
						<li ng-repeat="unit in units" ui-sref-active="active">
							<!--<a ui-sref="unit({unit:unit.url_name})">Block {{unit.block}} Unit {{unit.unit}}</a>-->
							<a ui-sref="unit({unit:unit.url_name})">Unit {{unit.unit}} Block {{unit.block}}</a>
						</li>
						<!-- <li><a style="font-weight: bold;">Potatoes</a></li> -->
					</ul>
				</nav>
			</div>
			<div class="col-xs-12 col-md-9 col-lg-10">
				<ui-view />
			</div>
		</div>
	</div>
	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="/components/jquery-ui/jquery-ui.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script> -->
	<script src="/components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
	<script src="/components/angular/angular.min.js"></script>
	<script src="/components/angular-animate/angular-animate.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/controllers.js"></script>
	<script src="/js/services.js"></script>
	<script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- <script src="/components/angular-fusioncharts/dist/angular-fusioncharts.min.js"></script> -->
	<script src="/components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="/components/angular-ui-sortable/sortable.min.js"></script>
	<script src="/components/highcharts-ng/dist/highcharts-ng.min.js"></script>

	<script src="/components/moment/min/moment.min.js"></script>
	<script src="/components/angular-moment/angular-moment.min.js"></script>

	<!-- <script src="/js/libraries/fusioncharts/fusioncharts.js"></script> -->
	<!-- <script src="/js/libraries/fusioncharts/fusioncharts.charts.js"></script> -->

	<script src="/components/highcharts-release/highcharts.src.js"></script>
	<script src="/components/highcharts-release/highcharts-more.src.js"></script>

	<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
</body>
</html>
